In [1]:
from functools import reduce
from pathlib import Path

import pandas as pd

In [354]:
byonoy_df = pd.read_excel('examples/tecan_infinite_example.xlsx')
# byonoy_df = pd.read_csv('examples/byonoy_absolute_example.csv')
byonoy_df

,Application: Tecan i-control,Unnamed: 1,Unnamed: 2,Unnamed: 3,"Tecan i-control , 1.5.14.0",Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,Device: infinite 500,NaN,NaN,NaN,Serial number: 901001915,NaN,NaN,NaN,Serial number of connected stacker:,NaN,NaN,NaN,NaN
1,Firmware: V_1.30_05/2007_I500F (May 18 2007/14...,NaN,NaN,NaN,"MAI, V_1.30_05/2007_I500F (May 18 2007/14.36.50)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Date:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Time:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,System,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,User,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Plate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Plate-ID (Stacker),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Comment,NaN,NaN,NaN,Yeast-NaCl-Control,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Label: OD600_1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Mode,NaN,NaN,NaN,Absorbance,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Wavelength,NaN,NaN,NaN,600,nm,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Bandwidth,NaN,NaN,NaN,0,nm,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Number of Flashes,NaN,NaN,NaN,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Settle Time,NaN,NaN,NaN,0,ms,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Start Time:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,Temperature: 34.7 °C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,<>,1,2.0000,3.0000,4,5,6.0000,7.0000,8,9.0000,10.0000,11.0000,12.0000
25,A,0.3438,0.3528,0.3673,0.3731,0.3773,0.3766,0.3919,0.3398,0.3491,0.3161,0.3308,0.3035
26,B,0.0971,0.0824,0.0975,0.0775,0.0926,0.0902,0.0783,0.0701,0.0818,0.0818,0.0882,0.0658
27,C,0.0551,0.0557,0.0488,0.0566,0.0462,0.0461,0.0521,0.0535,0.0530,0.0541,0.0612,0.0572
28,D,0.046,0.0479,0.0473,0.0449,0.0456,0.0449,0.0521,0.0472,0.0477,0.0469,0.0493,0.0480
29,E,0.0821,0.0749,0.0705,0.0641,0.0612,0.0730,0.0760,0.0662,0.0648,0.0590,0.0637,0.0685
30,F,0.0835,0.0691,0.0803,0.0837,0.0768,0.0737,0.0756,0.0837,0.0578,0.0699,0.0677,0.0639
31,G,0.0817,0.0707,0.0769,0.0796,0.066,0.0822,0.0811,0.0838,0.0514,0.0713,0.0682,0.0567
32,H,0.1032,0.0844,0.0767,0.078,0.4936,0.0862,0.0798,0.5506,0.0769,0.0717,0.0711,0.0721
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,End Time:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,Movement,NaN,NaN,NaN,Move Plate Out,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,Custom Action,NaN,NaN,NaN,Take Plate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,Movement,NaN,NaN,NaN,Move Plate In,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [355]:
df = byonoy_df.dropna()

In [356]:
df

,Application: Tecan i-control,Unnamed: 1,Unnamed: 2,Unnamed: 3,"Tecan i-control , 1.5.14.0",Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
24,<>,1,2.0000,3.0000,4,5,6.0000,7.0000,8,9.0000,10.0000,11.0000,12.0000
25,A,0.3438,0.3528,0.3673,0.3731,0.3773,0.3766,0.3919,0.3398,0.3491,0.3161,0.3308,0.3035
26,B,0.0971,0.0824,0.0975,0.0775,0.0926,0.0902,0.0783,0.0701,0.0818,0.0818,0.0882,0.0658
27,C,0.0551,0.0557,0.0488,0.0566,0.0462,0.0461,0.0521,0.0535,0.0530,0.0541,0.0612,0.0572
28,D,0.046,0.0479,0.0473,0.0449,0.0456,0.0449,0.0521,0.0472,0.0477,0.0469,0.0493,0.0480
29,E,0.0821,0.0749,0.0705,0.0641,0.0612,0.0730,0.0760,0.0662,0.0648,0.0590,0.0637,0.0685
30,F,0.0835,0.0691,0.0803,0.0837,0.0768,0.0737,0.0756,0.0837,0.0578,0.0699,0.0677,0.0639
31,G,0.0817,0.0707,0.0769,0.0796,0.066,0.0822,0.0811,0.0838,0.0514,0.0713,0.0682,0.0567
32,H,0.1032,0.0844,0.0767,0.078,0.4936,0.0862,0.0798,0.5506,0.0769,0.0717,0.0711,0.0721

In [357]:
def find_start_idx(df):
    for i in range(df.shape[0]):
        for j in range(df.shape[1]):
            element = df.iloc[i, j]
            if element == "A":
                return [i, j]

    print("Couldn't find 'A' well row")
    return None

start_idx = find_start_idx(df)

In [358]:
start_idx

[1, 0]

In [144]:
standardPlates = [(48, 72), (32, 48), (16, 24), (8, 12), (6, 8), (4, 6), (3, 4), (2, 3)]

In [359]:
for i in standardPlates:
    try:
        idx = i[0] - start_idx[0] + 1
        if df.iloc[idx, start_idx[1]] == chr(64 + idx):
            plateSize = i
        break
    except IndexError:
        continue

In [362]:
indices_list = []
#Sometimes the well header is not recognized so we need to account for two cases
if start_idx == [0,0]:
    for row in range(plateSize[0]):
        for col in range(start_idx[1]+1, plateSize[1]+1):
            indices_list.append((row, col))
else:
    for i in range(plateSize[0]):
        for j in range((plateSize[1])):
            row = start_idx[0] + i
            col = start_idx[0]+ j
            indices_list.append((row, col))

In [363]:
len(indices_list)

96

In [364]:
row = plateSize[0]
col = plateSize[1]

In [365]:
row,col

(8, 12)

In [366]:
wells = []
for i in range(1, row + 1):
    for j in range(1, col + 1):
        row_letter = chr(64 + i)
        wells.append(f"{row_letter}{j}")

rows = list(range(1, row + 1)) * col
cols = list(range(1, col + 1)) * row
cols.sort()

values = [float(df.iloc[idx]) for idx in indices_list]

df_wells = pd.DataFrame({
    'row': rows,
    'column': cols,
    'well': wells,
    'values': values
})

In [367]:
df_wells

    row  column well  values
0     1       1   A1  0.3438
1     2       1   A2  0.3528
2     3       1   A3  0.3673
3     4       1   A4  0.3731
4     5       1   A5  0.3773
..  ...     ...  ...     ...
91    4      12   H8  0.5506
92    5      12   H9  0.0769
93    6      12  H10  0.0717
94    7      12  H11  0.0711
95    8      12  H12  0.0721

[96 rows x 4 columns]

In [351]:
len(cols)

96

In [352]:
df_wells

    row  column well  values
0     1       1   A1  0.0635
1     2       1   A2  0.0655
2     3       1   A3  0.0647
3     4       1   A4  0.0645
4     5       1   A5  0.0640
..  ...     ...  ...     ...
91    4      12   H8  0.0600
92    5      12   H9  0.0634
93    6      12  H10  0.0618
94    7      12  H11  0.0615
95    8      12  H12  0.0614

[96 rows x 4 columns]