In [1]:
import pandas as pd
import plateparser as pp

In [2]:
sample_df = pd.read_csv('../examples/byonoy_absolute_example.csv')
sample_df

,"Bioactive Compound Supplement Library (96-well)\n For more information on TargetMol library service, please contact us via info@targetmol.com",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Product Details:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Formulation,NaN,A collection of 990 Bioactive Supplement Compo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Container,NaN,96 Well Format Sample Storage Tube,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Shipping,NaN,Dry ice,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
236,d,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
237,g,Empty,Empty,Empty,Empty,Empty,Empty,Empty,Empty,Empty,Empty,Empty,Empty
238,f,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
239,h,Empty,Empty,Empty,Empty,Empty,Empty,Empty,Empty,Empty,Empty,Empty,Empty
240,h,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
tidyFormat = pp.tidyFormat(sample_df, save='sample_tidy.csv')
tidyFormat

Plate size recognized: 8 x 12

    row  column well     values
0     1       1   A1      Empty
1     2       2   A2  D718-0078
2     3       3   A3  8015-1070
3     4       4   A4  E461-0625
4     5       5   A5  Y031-0488
..  ...     ...  ...        ...
91    4       8   H8  C797-0355
92    5       9   H9  G856-8207
93    6      10  H10  Y200-5232
94    7      11  H11  6466-1301
95    8      12  H12      Empty

[96 rows x 4 columns]